/* Здесь будут храниться стили нашего сайта */
/* Style for "Прямоуголь" */
img{
	max-width: 100%;
}
body{
	margin: 0;
	font-family: 'Roboto';
}
header{
	color: #fff;
	padding-top: 59px;
	background-color: #3a7dfd;
	background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
	table-layout: 22px;
}
.header-pretitle{
	font-size: 18px;
	margin-top: 102px;
	
}
.header-title{
	font-size: 48px;
	font-weight: 700;
	/*line-height: 36.81px;*/
	margin-top: 21px;
}
.header-subtitle{
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}
.header-button{
	/* Style for "Прямоуголь" */

	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 70px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding:17px 55px ;
	margin-top: 33px;
}
.header-button:hover{
	box-shadow: 10px 17px 34px 6px rgba(0, 0, 139, 0.83);
}
header small{
	font-size: 12px;
	font-weight: 400;
	display: block;
	margin-top: 9px;
	text-align: center;

}

.header-button-block{
	max-width: 210px;

}
.portfolio{
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;
}
.portfolio-block{
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 41px;
}
.portfolio-title{
	font-size: 18px;
	text-transform: uppercase;
	color: #072b6f;
	margin-bottom: 10px;
}
.portfolio-subtitle{
	color: #7bb9ff;
	font-size: 14px; 
	margin-top: 10px;
}
.portfolio-title, .portfolio-subtitle{
	text-align: center;
	
}
.portfilio-col-1{
	padding-left: 50px;


}
.portfilio-col-2{

	padding-right: 50px;

}
.portfolio-block h3{
	font-size: 18px;
	color: #072b6f;
	text-transform: uppercase;
	font-weight: 700;
}
.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}
.portfolio-block a{
	text-decoration: underline;
	font-size: 14px;
	font-weight: 400;
	color: #072b6f;

}
.portfolio-block a:hover{
	color: red;
}
footer{
	background-color: #3a7dfd;
	color: #fff;

}
.footer-title{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 7px;

}
.footer-col-1{
	margin-top: 74px;
	margin-bottom: 126px;
}
.footer-text{
	font-size: 18px;
	font-weight: 400;
	color: #deedfe;
	margin: 0;
}
.social-block{
	margin-top: 60px;
	text-align: center;
}
.social-block a{
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;

}
.social-block a:hover{
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
}

.footer-col-3{
	margin-top: 61px;
	margin-bottom: 13px;
	text-align: center;

}

.footer-button{
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	border: 1px solid #ffffff;
	background-color: #3a7dfd;
	padding: 15px 43px 19px  42px;
	font-size: 18px;
	color: #deedfe;
}
.social-block p{
	margin-bottom: 21px;
}
@media (max-width: 1200px){
	.header-pretitle{
		margin-top: 60px;
	}
}
@media (max-width: 992px){
	.header-img2{
		display: none;
		margin-top: 10px;
	}
	.footer-title{
		font-style: 18px;
	}
	.footer-text{
		font-style: 14px;
	}
	.social-block a{
		margin-left: 5px;
		margin-right: 5px;
	}
	.social-block img{
		width: 30px;

	}
	.footer-button{
		font-style: 14px;
		padding: 8px 35px;
	}
	.button-top{
		display: none;
		
	}
}
@media (max-width: 768px){
	.portfilio-col-1{
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.portfilio-col-2{
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer-title, .footer-text{
		text-align: center;

	}
	.header-pretitle{
		margin-top: 10px;
	}
	.button-top{
		display: none;
	}
}
.footer-col-1{
	margin-bottom: 2px;
	margin-top: 10px;
}
.footer-col-3{
	margin-top: 20px;
}
header small{
	margin-bottom: 10px;
}
.portfilio-col-1{
	margin-bottom: 50px;
}
.button-top{

	margin: -15% 5% 3% 90%;
	display: inline-block;
	
}
}